@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: hsl(234, 12%, 34%);
    display: flex;
    justify-content: center;
}

section {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.title-thin {
    font-size: xx-large;
    font-weight: 200;
    margin: 0;
}

.title-bold {
    font-size: xx-large;
    font-weight: 600;
    margin: 0;
}

.description{
    width: 60%;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card:nth-child(4) {
    grid-column: 2 / 3;
  }

.card {
    background-color: white;
    border-radius: 7px;
    max-width: 300px;
    height: 200px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.card h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.card p {
    font-size: small;
    max-width: 90%;
    margin: 0;
}

.card-1 {
    border-top: 4px solid hsl(180, 62%, 55%);
    box-shadow: 0 8px 20px -10px hsl(210, 38%, 63%);
    position: relative;
    top: 150px;
}

.card-2 {
    border-top: 4px solid hsl(0, 78%, 62%);
    box-shadow: 0 8px 20px -10px hsl(210, 38%, 63%);
}

.card-3 {
    border-top: 4px solid hsl(212, 86%, 64%);
    box-shadow: 0 8px 20px -10px hsl(210, 38%, 63%);
    position: relative;
    top: 150px;
}

.card-4 {
    border-top: 4px solid hsl(34, 97%, 64%);
    box-shadow: 0 8px 20px -10px hsl(210, 38%, 63%);
}

.icon{
    height: 100%;
    position: relative;
}

img {
    max-width: 60px;
    position: absolute;
    right: 0;
    bottom: 15px;
}

@media only screen and (max-width: 825px) {

    section {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .title-thin {
        font-size: 1.6rem;
    }

    .title-bold {
        font-size: 1.6rem;
    }

    .description {
        width: 100%;
    }

    .grid {
        display: block;
        margin-top: 40px;
    }

    .card-1 {
        position: relative;
        top: -40px;
    }

    .card-2 {
        position: relative;
        margin-bottom: 80px;
    }

    .card-3 {
        position: relative;
        top: 247px;
    }

    .card-4 {
        position: relative;
        top: -277px
    }

}

